html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP',-apple-system, BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}

.homeHead {
  position: fixed;
  width: 100%;
  top: 0;
  background: #FFE65A;
  display: flex;
  align-items: center;
  height: 92px;
  z-index: 100;
}

.homeHead__logo {
  margin-left: 14px;
  width: 138px;
}

.homeHead__form {
  margin-left: 58px;
  position: relative;
}

.homeHead__form input {
  width: 128px;
  height: 17px;
  border: 1px solid #707070;
  border-radius: 10px;
  background: #fff;
  padding: 0 10px;
}

.homeHead__form button {
  position: absolute;
  right: 0;
  width: 28px;
  height: 17px;
  border: 1px solid #707070;
  border-radius: 0 10px 10px 0;
  background: #E6FAB2;
}
